* {
    margin : 0;
    padding : 0;
}

h1 {
    background-color: #03101f;
    height : 60px;
    color: white;
    text-align: center;
    line-height: 60px;
}

#user {
    transform: rotateY(180deg);
}
.choices {
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.weapons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 60px;
    font-size : 30px;
}
.weapon {
    background-color: #03101f;
    color: white;
    height: 60px;
    width: 120px;
    text-align: center;
    line-height : 60px;
    border-radius: 30px;
}

.weapon:hover {
    cursor: pointer;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 100px;
    margin-top: 50px;
}

.sc {
   font-size : 30px;
}

#userScore,#compScore {
    text-align: center;
}
.msgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.msgBox p {
    background-color: #03101f;
    height: 50px;
    display: inline;
    color: white;
    width: 200px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
}

.try-mode {
    display: flex;
    justify-content: right;
    align-items: center;

}

.try-mode p {
    background-color: #03101f;
    margin-top: 30px;
    margin-right: 30px;
    color: white;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    font-size: 20px;
}
.try-mode p:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .weapons {
        flex-direction: column;
        gap: 20px;
        
    }



    .weapon {
        width: 100px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
    }
     
    .choice img {
        height: 170px;
        width: 170px;
    }

    .scores {
        flex-direction: column;
        gap: 20px;
    }

    .sc {
        font-size: 24px;
    }

    .msgBox p {
        width: 150px;
        font-size: 15px;
        padding: 5px;
    }

    .try-mode p {
        width: 150px;
        font-size: 15px;
    }

    h1 {
        font-size: 22px;
    }
}
